<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622115831035-q4ec2a99lnocvrd7luvv7ndtgok8b1da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622115831035-q4ec2a99lnocvrd7luvv7ndtgok8b1da</string>
	<key>API_KEY</key>
	<string>AIzaSyCDwflmd0KiGkKc2lbeBNNXzxU-oaQBxzI</string>
	<key>GCM_SENDER_ID</key>
	<string>622115831035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wordofgodforeachday</string>
	<key>PROJECT_ID</key>
	<string>word-of-god-for-each-day</string>
	<key>STORAGE_BUCKET</key>
	<string>word-of-god-for-each-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622115831035:ios:0b1e15c7dadb966fef845e</string>
	<key>DATABASE_URL</key>
	<string>https://word-of-god-for-each-day.firebaseio.com</string>
</dict>
</plist>